body {
    font-family: Arial, sans-serif;
    background: /*#def;*/ #eef; /* - freef*/
    margin: 0;
}
.container {
    width: 80%;
    min-width: 500px;
    margin: 0 auto;
    background: #edc; /*#cbc0b7;*/
}
.header {
    background: #844; /*#832;*/
    padding: 10px 20px;
} .header h1 {
    color: #F8F8F8;
    font-size: 30pt;
    font-weight: bold;
} .header p {
    color: silver;
    font-size: 15pt;
    font-weight: bold;
}
.content {
    /* margin-right: 250px; */
    min-height: 200px;
    padding: 20px;
}/* .content .section {
    
}*/
.sidebar {
    margin-right: -20px;
    margin-top: -20px;
    margin-left: 20px;
    float: right;
    width: 200px;
    padding: 10px 20px;
    background: #fed;
    min-height: 50px;
    border: solid thin;
} .sidebar h1 {
    font-size: 20pt;
    text-align: center;
} .sidebar:after {
    clear: both;
}
.footer {
    background: #333;
    color: silver;
    padding: 10px 25px;
    font-size: 12px;
    text-align: right;
    bottom: 0;
} .footer a {
    color: silver;
}
a {
    font-weight: bold;
}
ul {
    padding-left: inherit; /*somehow it looks nicer..? Well, than numbers*/
}
.underline {
    text-decoration: underline;
}
